@import "tailwindcss";

/* Light theme */
:root {
  --background: #F2EFED;
  --foreground: #201F1F;
  --subtitle: #5F5D5D;
  --font-serif: var(--font-playfair-display);
  --font-sans: var(--font-inter);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1A1A;
    --foreground: #F2EFED;
    --subtitle: #B3B1AF; 
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  font-weight: 400;
}


@layer components {
  .link-underline {
    @apply relative;
  }

  .link-underline::after {
    content: '';
    position: absolute;
    left: 0; 
    bottom: -0.125rem; 
    height: 1px; 
    width: 100%; 
    background-color: currentColor;
  }

  @media(hover: hover) {
    .link-underline::after {
      width: 0; 
      transition: width 0.3s ease; 
    }

    .link-underline:hover::after {
      width: 100%;
    }
  }

  .text-subtitle {
    color: var(--subtitle);
  }

}

@layer utilities {
  .font-playfair {
    font-family: var(--font-playfair-display);
  }
}