@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap');
@import "tailwindcss";


/* Light theme */
:root {
  --background: #F2EFED;
  --foreground: #201F1F;
  --subtitle: #5F5D5D;
  --font-serif: 'Playfair Display', serif;
  --font-sans: 'Inter', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-serif); 
  --font-sans: var(--font-sans); 
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1A1A;
    --foreground: #F2EFED;
    --subtitle: #B3B1AF; /*to do: experiment with colors*/
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  font-weight: 400;
}


@layer components {
  .link-underline {
    @apply relative;
  }

  .link-underline::after {
    content: '';
    position: absolute;
    left: 0; 
    bottom: -0.125rem; 
    height: 1px; 
    width: 100%; 
    background-color: currentColor;
  }

  @media(hover: hover) {
    .link-underline::after {
      width: 0; 
      transition: width 0.3s ease; 
    }

    .link-underline:hover::after {
      width: 100%;
    }
  }

  .text-subtitle {
    color: var(--subtitle);
  }

}

@layer utilities {
  .font-playfair {
    font-family: var(--font-serif);
  }
}